<!DOCTYPE html>
<html>
  <head>
    <title> Chess Board</title>
  </head>
  <body>
    <canvas id="myCanvas" width="660" height="660" style="border:2px solid #d3d3d3;">
    Your browser does not support the HTML5 canvas tag.</canvas>
    <script>
      var c=document.getElementById("myCanvas");
          c.addEventListener("click",clickHandler,false);
      var ctx=c.getContext("2d");
      var rectW = 30, rectH = 30;

      for(i=0;i<8;i++){
        for(j=0;j<8;j++){
          var rectX = 10 + j * rectW, rectY = 10 + i * rectH ;
          if (((i+j)%2)!=0) {
            ctx.fillStyle="white" ;
          }
          else {
            ctx.fillStyle="black" ;
          }
          ctx.fillRect(rectX ,rectY,rectW,rectH)
        }
      }

      var puzzleRectXX = [],puzzleRectYY = [];

      for(k=0;k<5;k++){
        puzzleRectXX[k] = Math.floor(Math.random()*8)*30 + 10;
        puzzleRectYY[k] = Math.floor(Math.random()*8)*30 + 10;
        ctx.fillStyle="green";
        ctx.fillRect(puzzleRectXX[k],puzzleRectYY[k],rectW,rectH);
      }

      var timeNow = new Date() ;
      timeNow.setSeconds(timeNow.getSeconds() + 1) ;
       window.setTimeout(changeColor, 1000);

      function changeColor(){
        var newTime = new Date();
        if (timeNow.getSeconds() == newTime.getSeconds()){
          ctx.fillStyle="black";
          for(k=0;k<5;k++){
            ctx.fillRect(puzzleRectXX[k],puzzleRectYY[k],rectW,rectH);
          }
        }
      }

      function clickHandler(e){
        var clickX = e.offsetX;
        var clickY = e.offsetY;
        for(k=0;k<5;k++){
          if (clickX > puzzleRectXX[k] && clickX < (puzzleRectXX[k] + rectW) && clickY > puzzleRectYY[k] && clickY < (puzzleRectYY[k] + rectH)) {
            ctx.fillStyle = "green";
            ctx.fillRect(puzzleRectXX[k],puzzleRectYY[k],rectW,rectH);
            break;
          }else {
            if (k==4){
              ctx.fillStyle="Red";
              for(k=0;k<5;k++){
                ctx.fillRect(puzzleRectXX[k],puzzleRectYY[k],rectW,rectH);
              }
            }
          }
        }
      }

    </script>
  </body>
</html>
