<!DOCTYPE html>
<html>
  <head>
    <title> Chess Board</title>
  </head>
  <body>
    <canvas id="myCanvas" width="260" height="260" style="border:2px solid #d3d3d3;">
    Your browser does not support the HTML5 canvas tag.</canvas>
    <script>
      var c=document.getElementById("myCanvas");
          c.addEventListener("click",clickHandler,false);
      var ctx=c.getContext("2d");
      var border = 10,
          faddingTime = 1,
          gridSize = 8,
          gridIndex = 0,
          puzzleLimit = 5,
          puzzleRectXX = [],
          puzzleRectYY = [],
          rectW = 30,
          rectH = 30,
          rectX = [],
          rectY = [],
          totalChance = 3,
          totalSquare = 64,
          waitingTime = 1000;

      for(i=0;i<gridSize;i++){
        for(j=0;j<gridSize;j++){
          rectX[gridIndex] = border + j * rectW;
          rectY[gridIndex] = border + i * rectH ;
          if (((i+j)%2)!=0) {
            ctx.fillStyle="white" ;
          }
          else {
            ctx.fillStyle="black" ;
          }
          ctx.fillRect(rectX[gridIndex] ,rectY[gridIndex],rectW,rectH);
          gridIndex++;
        }
      }

      for(k=0;k<puzzleLimit;k++){
        puzzleRectXX[k] = Math.floor(Math.random()*8)*30 + 10;
        puzzleRectYY[k] = Math.floor(Math.random()*8)*30 + 10;
        ctx.fillStyle="green";
        ctx.fillRect(puzzleRectXX[k],puzzleRectYY[k],rectW,rectH);
      }

      var timeNow = new Date() ;
      timeNow.setSeconds(timeNow.getSeconds() + faddingTime) ;
      window.setTimeout(changeColor, waitingTime);

      function changeColor(){
        var newTime = new Date();
        if (timeNow.getSeconds() == newTime.getSeconds()){
          for(k=0;k<puzzleLimit;k++){
            if ((((puzzleRectXX[k] - border)/30) + ((puzzleRectYY[k] - border)/30))%2 != 0){
              ctx.fillStyle="white"
            }
            else {
              ctx.fillStyle="black";
            }
            ctx.fillRect(puzzleRectXX[k],puzzleRectYY[k],rectW,rectH);
          }
        }
      }
      var m = 0,n=0;
      function clickHandler(e){
        var clickX = e.offsetX,
            clickY = e.offsetY;
        for(k=0;k<puzzleLimit;k++){
          if (clickX > puzzleRectXX[k] && clickX < (puzzleRectXX[k] + rectW) && clickY > puzzleRectYY[k] && clickY < (puzzleRectYY[k] + rectH)) {
            ctx.fillStyle = "green";
            ctx.fillRect(puzzleRectXX[k],puzzleRectYY[k],rectW,rectH);
            n++;
            break;
          }else if(k == (puzzleLimit - 1)) {
            for (l=0;l<totalSquare;l++){
              if (clickX > rectX[l] && clickX < (rectX[l] + rectW) && clickY > rectY[l] && clickY < (rectY[l] + rectH) && m < totalChance){
                ctx.fillStyle="red";
                ctx.fillRect(rectX[l],rectY[l],rectW,rectH);
                m++;
                break;
              }
            }
            if(m == (totalChance)){
              ctx.fillStyle="Red";
              for(k=0;k<puzzleLimit;k++){
                ctx.fillRect(puzzleRectXX[k],puzzleRectYY[k],rectW,rectH);
              }
              if(!alert("YOU LOSE THIS GAME!!!!!!, Click OK to Restart")){window.location.reload();}
              break;
            }
            break;
          }
        }
        if (n == puzzleLimit){
          if(!alert("Congrats buddy, you win, Click OK to continue your winning streak")){window.location.reload();}
        }
      }

    </script>
  </body>
</html>
